<% provide(:title, @game.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!--%= gravatar_for @user %-->
        Welcome to <%= @game.name %> <br/> 
      </h1>
      CONTENT!
      <br/>
      <%=  @game.id%>
      <br/> <!-- @game. content? however game gets discplayed-->
        <!--%= @user.messages %-->

      <%= form_for(:score, url: scores_path) do |f| %>

      <%= f.label :value %>
      <%= f.text_field :value %>

      <!--best movie lines new movie rating good for reference -->
      <%= f.hidden_field :gameid, :value =>@game.id%>


      <%= f.submit "Submit Score", class: "btn btn-large btn-primary" %>


    <% end %>
    <br/><br/>
    <%if signed_in?%>
      <%= form_for(:favorite, url: favorites_path) do |f| %>
      <%= f.hidden_field :game_id, :value =>@game.id%>
      <%= f.submit "Favorite", class: "btn btn-large btn-primary" %>
      <%end%>
    <%end%>
    </section>
  </aside>
</div>